body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

#root {
  margin: 1rem 2rem; background-color: beige;
}

.todolist {
  border: 1px solid #ccc;
  display: flex;
  flex-flow: column nowrap; 
  justify-content: space-around; 
  align-items: center;
  gap: 0.5rem;
}

.todolist h3 {
  font-size: 2rem;
}

.todoElement {
  margin: 0.2rem 1rem;
  width: 50%;
  border: 1px solid #ccc;
}

.todoElement input {
  width: 80%;
  height: 1.8rem;
  padding: 0.3rem;
  border: 1px solid #333;
  border-radius: 0.2rem;
}
