@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500;700&display=swap');

html * {
  margin: 0; padding: 0;
}

body {
  background-color: beige;
  font-family: 'Josefin Sans', sans-serif;
}

.App {
  margin: 0 auto;
  width: 65%;
}

.header {
  padding: 1rem 0 2rem 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
}

.header h3 {
  flex: 9 1 auto;
  font-size: 2rem;
  text-align: left;
}

.header img {
  flex: 1 1 auto;
  width: 100px;
}

.header h3 {
  flex: 1 1 auto;
}

.todolist {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around; 
  align-items: stretch;
  gap: 0.5rem;
}

.todoElement {
  display: flex;
  flex-flow: row nowrap; 
  justify-content: space-between;
  align-items: stretch;
  gap: 1rem; 
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: antiquewhite;
}

.todoElement input {
  flex: 9 1 auto;
  padding: 0.5rem;
  border: 1px solid chocolate;
  border-radius: 0.2rem;
  font-family: 'Josefin Sans', sans-serif;
}

.todoElement button {
  flex: 1 1 auto;
  padding: 0.5rem;
  border: 1px solid chocolate;
  border-radius: 0.2rem;
  font-family: 'Josefin Sans', sans-serif;
}

.footer {
  display: flex;
  justify-content: center;
  min-height: 5%;
  padding: 1rem;
  gap: 3rem;
}

.footer a, .footer a:visited, .footer a:active {
  margin: 0 1rem;
  text-decoration: none;
  color: chocolate;
}

@media screen and (max-width: 900px) {
  .todoElement {
    flex-flow: column nowrap; justify-content: center; gap: 0.5rem;
  }

  .todoElement input, .todoElement button {
    flex:5;
  }

  .footer {
    flex-flow: column nowrap; 
    align-items: center;
    gap: 0.5rem;
  }
}